{% extends "base.html" %}
{% block css %}
<style>
.container{
  box-sizing: border-box;
  background-color: antiquewhite;
    padding: 52px;
        margin-top: 85px;
}
.head {
    font-size: 2.5rem;
    text-align: center;
    padding-top: 74px;
    width: 643px;
    margin-left: 168px;
    color: black;
}
</style>

{% endblock css %}
{% block body %}
<div class="container">
<h1 class="head">Thank you so much for this review. We really appreciate you being a customer. We’re here for you anytime.</h1>
</div>
{% endblock body %}

